/* mobil 375px --> */

.Gallery{
    margin: 1rem;

    display: grid;

    grid-template-columns: repeat(3, 6.6rem) ;
    grid-template-rows: repeat(4, 6.6rem);
    gap: 0.6rem;

}

.Gallery figure {
    /* background-color: #707070; */
    margin: 0;
    
}

.Gallery .Gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 672px){
    
    .Gallery {
    
        grid-template-columns: repeat(3, 14rem) ;
        grid-template-rows: repeat(4, 9.5rem);
        gap: 1.25rem;

    
    }


}

